# Eclipse specific files
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.project
.classpath
.settings/
.loadpath

# Build artifacts (Maven/Gradle)
/target/
/build/
/out/

# Other
*.log
.DS_Store